- provide(:title, 'Sign in')
.row
  .col-md-6.col-md-offset-3
    %h2 Sign In
    %hr
.row
  .col-md-6.col-md-offset-3
    = form_for :session, url: sign_in_path, html: { class: 'form form-horizontal' } do |f|
      .form-group
        %label.control-label.col-md-2 Email:
        .col-md-10
          = f.email_field :email, class: 'form-control', autofocus: true
      .form-group
        %label.control-label.col-md-2 Password:
        .col-md-10
          = f.password_field :password, class: 'form-control'
      .form-group
        .pull-left
          .new-customer-option
            New customer? #{link_to 'Sign up now!', new_customer_path}
        .pull-right
          = button_tag type: :submit, class: 'btn btn-primary log-in-option' do
            %i.fa.fa-sign-in
            Sign in
