.row
  .col-md-6.col-md-offset-3
    %h2
      Account Details
      = link_to edit_customer_path(id: @customer.id), id: 'account-details-edit-link' do
        %i.fa.fa-edit
        Edit
    %hr
    .row
      .col-md-2
        %p
          %strong Email:
      .col-md-10
        = @customer.email

    .row
      .col-md-2
        %p
          %strong Address:
      .col-md-10
        %address
          = "#{@customer.first_name} #{@customer.last_name}"
          %br
          = @customer.address
          %br
          = "#{@customer.city}, #{@customer.province.name} #{@customer.postal_code}"
          %br
          = @customer.country.name

