.row
  .col-md-6.col-md-offset-3
    %h2 Account Information
    %p= "#{@customer.first_name} #{@customer.last_name}"
    %p= @customer.email
    %p= @customer.address
    %p= "#{@customer.city}, #{@customer.province.name} #{@customer.postal_code}"
    %p= @customer.country.name
