.row
  .col-md-4.col-sm-4.col-xs-12
    %h3
      Account Details
      = link_to edit_customer_path(id: @customer.id), id: 'account-details-edit-link' do
        %i.fa.fa-edit
        Edit
    %hr
    .row
      .col-md-4.col-sm-4.col-xs-12
        %p
          %strong Email:
      .col-md-8.col-sm-8.col-xs-12
        = @customer.email

    .row
      .col-md-4.col-sm-4.col-xs-12
        %p
          %strong Address:
      .col-md-8.col-sm-8.col-xs-12
        %address
          = "#{@customer.first_name} #{@customer.last_name}"
          %br
          = @customer.address
          %br
          = "#{@customer.city}, #{@customer.province.name} #{@customer.postal_code}"
          %br
          = @customer.country.name
  .col-md-8.col-sm-8.col-xs-12
    %h3 Recent Orders
    %hr

    - if @customer.recent_orders.present?
      %table.table.table-striped
        %thead
          %tr
            %th Order No
            %th Status
            %th Updated
        %tbody
          - @customer.recent_orders.each do |order|
            %tr
              %td= link_to order.order_no, order_path(id: order.id)
              %td= order.status.title
              %td= order.updated_at.strftime('%b %d, %Y')
    - else
      %h5 You have not placed any orders in the past 2 weeks.



