%h2= @product.name
%hr
.row
  .col-md-6
    = image_tag "#{@product.image}", width: '100%', height: '100%'
  .col-md-2
  .col-md-4
    .panel.panel-default.product-detail-options
      .panel-heading
        .text-center
          %h4 Free Standard Shipping *
      .panel-body
        %h3.bold= currency(@product.price)
        %hr
        #add-item-to-cart-form
          = render partial: 'shopping_carts/form', locals: { product: @product }
      .panel-footer
        %ul
          %li
            %strong Shipping Note:
            Leaves the warehouse in as little as 1 business day. See Shipping Info and Online Return Policy for details.

.row
  .col-md-8
    %h3
      %i.fa.fa-file-text-o
      DESCRIPTION

    %hr

    %p= @product.description

    %hr
